// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Assistant', sans-serif;
$font-family: 'Aleo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Primary Colors
$primary: #FC313B;
$primary-dlight: #fdacb2;
$primary-brlight: #fb4d5a;
$primary-light: #fd848a;
$limegreen: #4FD23E;
$limegreen-dark:#2E9023;
$black: #0e0e0e;
$white: #ffffff;
$whitesmoke: #d8d8d8;

$bg-gray-1: #d3d4d5;
$gray-2: #676767;
$gray-3: #808080;
$gray-4: #828282;
$gray-5: #8c8c8c;
$gray-6: #777777;
$grey-7: #e2e2e2;
$whitesmoke-1: #f3f3f3;
$gray-7: #616161;
$whitesmoke-2: #F5F5F5;
$gray-8: #929292;

$grey-light: #c3c3c3;
$gainsboro: rgb(220, 220, 220);
$silver: rgb(192, 192, 192);

$primary-text: #ff4d5f;

$wizard-link: #f7f7f7;
$wizard-active: #e1dfdf;

//progress-bar
$blue-grey: #434b55;
$blue-light-grey: #515862;
$days: #333232;
$amt: #424141;
